---

layout: base

---

<div class="post all_notes">
    
    <div class="post__title">
        <h1>{{ page.title }}</h1>
    </div>

    {% for note in page.notes %}
    <div class="post" id="{{ note.page_url }}">

        <div class="post__title">
            <h1>
                <a href="#{{ note.page_url }}">
                    {{ note.title }}
                </a>
            </h1>
        </div>        
        <div class="post__content">{{ note.content_with_hash_links | markdownify }}</div>

        {% if note.backlinks.size > 0 %}
        <div class="backlinks">
            <h2>Links to this note</h2>
            {% for backlink in note.backlinks %}
                <div class="backlink">
                    <a href="#{{ backlink.url }}">
                        {{ backlink.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="dates">
            <div>
                <a href="updated#{{ note.date_updated }}">
                Last edited {{ note.date_updated | date: "%B %-d, %Y" }}
                </a>
            </div>
            <div>
                <a href="created#{{ note.date_created }}">
                Created {{ note.date_created | date: "%B %-d, %Y" }}
                </a>
            </div>
        </div>    

    </div>
    {% endfor %}

</div>