---

layout: base

---
<div class="post">

    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>        
    <!-- <div class="post__date"><p>{{ page.date | date: "%B %e, %Y" }}</p></div> -->
    <div class="post__content">{{ content }}</div>

    {% if page.backlinks.size > 0 %}
    <div class="backlinks">
        <h2>Links to this note</h2>
        {% for backlink in page.backlinks %}
            <div>
                <a target="_blank" href="{{ backlink.url }}">
                    {{ backlink.name }}
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="dates">
        <div>
            <a target="_blank" href="updated#{{ page.date_updated }}">
            Last edited {{ page.date_updated | date: "%B %-d, %Y" }}
            </a>
        </div>
        <div>
            <a target="_blank" href="created#{{ page.date_created }}">
            Created {{ page.date_created | date: "%B %-d, %Y" }}
            </a>
        </div>
    </div>    

</div>



    

